.flex-card {
  padding: 25px;
  line-height: 15px;
  margin: 5px;
  width: 225px;
  height: 450px;
  border: 5px;
}

body {
  background-image: url('/src/Imagens/Fundo.jpeg');
  background-size: contain;
  background-attachment: fixed;
}
